__pycache__
build
dist
*.egg-info
*pyc
*.log
*.substvars
*.debhelper
*.pybuild
debian/files
debian/cloud-installer/
debian/cloud-install-single/
debian/cloud-install-multi/
debian/cloud-install-landscape/
*.swp
# the dependencies deb
*.deb
