__pycache__
build
dist
*.egg-info
*pyc
*.log
*.substvars
*.debhelper
*.pybuild
debian/files
debian/openstack/
debian/openstack-single/
debian/openstack-multi/
debian/openstack-landscape/
debian/cloud-installer/
debian/cloud-install-single/
debian/cloud-install-multi/
debian/cloud-install-landscape/

*.swp
# the dependencies deb
*.deb
.ropeproject
.coverage
cover
*~
.tox
