Source: cloud-install
Section: admin
Priority: extra
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends:
  debhelper (>= 9),
  po-debconf,
  dh-python,
  python3-all,
  python3-setuptools,
  python3-nose,
  python3-mock
Standards-Version: 3.9.4
Homepage: https://launchpad.net/cloud-installer
X-Python3-Version: >= 3.3
Vcs-Browser: https://bazaar.launchpad.net/~solutions-engineering/cloud-installer/trunk/files
Vcs-Bzr: lp:cloud-installer

Package: cloud-install
Architecture: all
Depends:
  ${misc:Depends},
  ${python3:Depends},
  debconf-utils,
  git,
  juju-core,
  lxc,
  cgroup-lite,
  mongodb-server,
  python3-oauthlib,
  python3-passlib,
  python3-requests,
  python3-requests-oauthlib,
  python3-urwid,
  python3-yaml,
  rungetty,
  gawk,
Description: Ubuntu Cloud installer - metapackage
 Ubuntu Cloud installer is a metal to cloud image that provides an extremely
 simple way to install, deploy and scale an openstack cloud on top of
 Ubuntu server. Initial configurations are available for single
 physical system deployments as well as multiple physical system
 deployments.

Package: cloud-install-common
Architecture: any
Depends:
  ${misc:Depends},
  cloud-install
Description: Ubuntu Cloud installer - common support files
 Ubuntu Cloud installer is a metal to cloud image that provides an extremely
 simple way to install, deploy and scale an openstack cloud on top of
 Ubuntu server. Initial configurations are available for single
 physical system deployments as well as multiple physical system
 deployments.

Package: cloud-install-multi
Section: admin
Architecture: any
Depends:
  ${misc:Depends},
  maas,
  maas-dhcp,
  maas-dns,
  cloud-install-common
Description: Ubuntu Cloud installer (multi-system) - dependency package
 Ubuntu Cloud installer is a metal to cloud image that provides an extremely
 simple way to install, deploy and scale an openstack cloud on top of
 Ubuntu server. Initial configurations are available for single
 physical system deployments as well as multiple physical system
 deployments.
 .
 This package provides the multi installer profile.

Package: cloud-install-single
Section: admin
Architecture: any
Depends:
  ${misc:Depends},
  maas,
  maas-dhcp,
  maas-dns,
  cloud-install-common,
  cloud-utils,
  libvirt-bin,
  qemu-system-x86
Description: Ubuntu Cloud installer (single-system) - dependency package
 Ubuntu Cloud installer is a metal to cloud image that provides an extremely
 simple way to install, deploy and scale an openstack cloud on top of
 Ubuntu server. Initial configurations are available for single
 physical system deployments as well as multiple physical system
 deployments.
 .
 This package provides the single installer profile.

Package: cloud-install-landscape
Section: admin
Architecture: any
Depends:
  ${misc:Depends},
  cloud-install
Description: Ubuntu Cloud installer (landscape) - dependency package
 Ubuntu Cloud installer is a metal to cloud image that provides an extremely
 simple way to install, deploy and scale an openstack cloud on top of
 Ubuntu server. Initial configurations are available for single
 physical system deployments as well as multiple physical system
 deployments.
 .
 This package provides the landscape installer profile.

Package: cloud-install-udeb
Section: debian-installer
Architecture: all
XC-Package-Type: udeb
Depends: ${misc:Depends}
Description: Cloud installer integration
 Ubuntu Cloud installer is a metal to cloud image that provides an
 extremely simple way to install, deploy and scale an openstack cloud
 on top of Ubuntu server. Initial configurations are available for
 single physical system deployments as well as multiple physical
 system deployments.
 .
 This package provides debian installer integration.
XB-Installer-Menu-Item: 2350
