#!/usr/bin/make -f

export PYBUILD_NAME=cloudinstall
export PYBUILD_DISABLE_python2=1
export PYBUILD_INSTALL_DIR=usr/share/cloud-install-common/
export PYBUILD_INSTALL_ARGS_python3=--install-lib=usr/share/cloud-install-common/ \
	--install-data=usr/ \
	--install-scripts=usr/share/cloud-install-common/ \
	--root=$(CURDIR)/debian/cloud-install-common/ \
	--no-compile -O0

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_installinit:
	dh_installinit --no-start

override_dh_auto_test:
	@echo "No tests."
