#!/usr/bin/python3

from ws4py.client.threadedclient import WebSocketClient
from pprint import pprint
import json

params = {}
params['Type'] = "Admin"
params['Request'] = 'Login'
params['RequestId'] = 1
params['Params'] = {'AuthTag': 'user-admin',
                    'Password': 'f0d44f279b47cc8b5f7ea291f5e3b30a'}

class Stupid(WebSocketClient):
    def opened(self):
        self.send(json.dumps(params))

    def closed(self, code, reason):
        print(("Closed", code, reason))

    def received_message(self, m):
        print(("Message", json.loads(m.data.decode('utf-8'))))

if __name__ == '__main__':
    ws = Stupid('wss://192.168.122.16:17070/', protocols=['https-only'])
    ws.daemon = False
    ws.connect()
    info = {'Type': 'Client',
            'Request': 'EnvironmentInfo'}
    ws.send(json.dumps(info))
    ws.close()
