install_type="Single system" # or "Multi-system" or "Landscape managed"
openstack_password="password"

# Multi-system only:
interface="eth0"
bridge_interface=""

# set to nonempty string to avoid automated check for existing DHCP
# server on the network:
skip_dhcp_detection=true

# range of IP addresses for MAAS to lease
dhcp_range="192.168.100.2-192.168.100.244"

# Landscape-managed installs only:
# Full name of admin user for Landscape
admin_name="A. D. Ministrator"
admin_email="A.D.Ministrator@example.com"
system_email="landscape@example.com"
